@{
	ViewData["Title"] = "Админ. панель";
}

<a class="btn btn-dark text-white" asp-action="GenerateReports">Сгенерировать данные</a>
<a class="btn btn-dark text-white" asp-action="DeleteAllReports">Удалить данные</a>