<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ServiceDesk</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<div class="bg-dark">
		<div class="container d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark text-white">
			<a class="h5 my-0 mr-md-auto font-weight-normal text-white" asp-area="" asp-action="Index" asp-controller="Home">Система обработки обращений</a>
			@await Html.PartialAsync("_LoginPartial")
		</div>
	</div>

	<div class="container">
		@RenderBody()
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - Система обработки обращений
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
